<ion-content scrollEvents="true" parallax-header >
  <div class="header-image">
    <!-- Parallax Image -->
    <!-- <ion-img [src]="data.imge"></ion-img> -->
    <iframe *ngIf="data?.type=='home'" [src]="urlpaste()" style="height:100%;" width="100%"></iframe>
    <!-- <div *ngIf="data?.type=='delivery'" class="map-wrapper">
      <div id="map_center">
        <img src="assets/icon/location-marker.png" />
      </div>
      <div #map id="map"></div>
    </div> -->
    <ion-content  [fullscreen]="true" >

      <!-- <div *ngIf="data?.type=='delivery'" class="map-wrapper"> -->
        <!-- <div id="map_center">
          <img src="assets/icon/location-marker.png" />
        </div> -->
        <!-- <div #map id="map"></div> -->
      <!-- </div> -->
      <app-gmap (sendlatlng)="getlatlng($event)" *ngIf="data?.type=='svl'"></app-gmap>
      <app-delivery-gmap (sendlatlng)="getlatlng($event)" *ngIf="data?.type=='delivery'"></app-delivery-gmap>
    
    
    </ion-content>
    
  </div>
  <ion-grid class="ion-no-padding">
    <ion-row >
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="border border-radius no-box-shadow ion-padding">
          <!-- <ion-item lines="none" class="transparent">
            <ion-badge slot="start">{{data?.price}}</ion-badge>
            <span class="text-size-sm font-medium text-color-primary" slot="end">
              {{data?.instock}}
            </span>
          </ion-item> -->
          <ion-card-content>
            <h1 class="text-size-lg font-regular text-color-primary ion-text-wrap pb-2">{{data.title}}
            </h1>
            <!-- <h1 class="text-size-xs font-regular text-color-secondary ion-text-wrap">{{data?.description || address}}</h1> -->
          </ion-card-content>
          <!-- <ion-col *ngIf="data?.type=='delivery'" size="12" class="ion-text-center">
            <ion-item  lines="none" id="projectTitle">
              <ion-label>Latitude</ion-label>
              <ion-input name="lat" [(ngModel)]="lat" class="text-input" type="number" ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="data?.type=='delivery'">
            <ion-item  lines="none" id="projectTitle">
              <ion-label>Longitude</ion-label>
              <ion-input name="lng" [(ngModel)]="lng" class="text-input" type="number"></ion-input>
            </ion-item>
          </ion-col> -->
          <ion-grid *ngIf="data?.type=='svl' || data?.type=='delivery'" class="ion-text-center ">

            <!-- <ion-row class="ion-margin">
              <ion-col>
                <ion-title>
                  <ion-text color="default">
                    Your title remove if don't want use
                  </ion-text>
                </ion-title>
              </ion-col>
            </ion-row> -->
        
            <ion-row *ngIf="data?.type=='svl'" class="header-row">
              <ion-col size="3">
                <ion-text>Latitude</ion-text>
              </ion-col>
        
              <ion-col  size="3">
                <ion-text>Longitude</ion-text>
              </ion-col>
        
              <ion-col  size="3">
                <ion-text>Height</ion-text>
              </ion-col>
              <ion-col  size="3" >
                <ion-text>
                  
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="data?.type=='delivery'" class="header-row">
              <ion-col size="4">
                <ion-text>Latitude</ion-text>
              </ion-col>
        
              <ion-col  size="4">
                <ion-text>Longitude</ion-text>
              </ion-col>
        
              <ion-col  size="4">
                <ion-text>Height</ion-text>
              </ion-col>
            </ion-row>
        
            <ion-row *ngFor="let point of waypoints;let i=index;">
              <ion-col *ngIf="data?.type=='svl'">
                <ion-text>
                  <!-- <ion-text>{{i+1}}.  </ion-text> -->
                  <ion-text>{{point?.lat}}</ion-text>
                </ion-text>
              </ion-col>
        
                <ion-col  *ngIf="data?.type=='svl'">
                  <ion-text>
                    <ion-text>{{point?.lng}}</ion-text>
                  </ion-text>
                </ion-col>
          
                <ion-col *ngIf="data?.type=='svl'">
                  <ion-text>
                    <ion-text>{{point?.height}}</ion-text>
                  </ion-text>
                </ion-col>
                <ion-col *ngIf="data?.type=='svl'">
                  <ion-text>
                    
                  </ion-text>
                </ion-col>
            </ion-row>
        
            <ion-row >
              <ion-col>
                <ion-text>
                  <ion-input name="lat" [(ngModel)]="lat" class="text-input" type="number" ></ion-input>
                </ion-text>
              </ion-col>
        
                <ion-col>
                  <ion-text>
                    <ion-input name="lng" [(ngModel)]="lng" class="text-input" type="number"></ion-input>
                  </ion-text>
                </ion-col>
          
                <ion-col>
                  <ion-text>
                    <ion-input name="height" [(ngModel)]="height" class="text-input" type="number"></ion-input>
                  </ion-text>
                </ion-col>
                <ion-col *ngIf="data?.type=='svl'">
                  <ion-text>
                    <ion-button (click)="add()">
                      <!-- <ion-icon slot="start" name="add"></ion-icon> -->
                      <small>Add</small>
                    </ion-button>
                  </ion-text>
                </ion-col>
            </ion-row>
        
          </ion-grid>
          <ion-button [disabled]="!lat || !lng" *ngIf="data?.type=='delivery' || data?.type=='svl'"  (click)="locate()">
            <ion-icon slot="start" name="locate"></ion-icon>
            <small>Locate Target</small>
          </ion-button>
          <ion-button  *ngIf="data?.type=='home'" class="default-button color-accent ion-text-capitalize ion-margin-top box-shadow" expand="block"
            (click)="onButtonClick()">
            {{data?.button}}</ion-button>
        </ion-card>
        <!-- <ion-content class="ion-text-capitalize ion-margin-top box-shadow mt-5 text-center" height="100%"> -->

          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <div style="width:100%;" *ngIf="data?.type!=='home'" (click)="onClick()" id="demo" class="demo ">
                  <div class="demo__drone-cont demo__drone-cont--takeoff">
                    <div class="demo__drone-cont demo__drone-cont--shift-x">
                      <div class="demo__drone-cont demo__drone-cont--landing">
                        <svg viewBox="0 0 136 112" class="demo__drone">
                          <g class="demo__drone-leaving">
                            <path class="demo__drone-arm" d="M52,46 c0,0 -15,5 -15,20 l15,10" />
                            <path class="demo__drone-arm demo__drone-arm--2" d="M52,46 c0,0 -15,5 -15,20 l15,10" />
                            <path class="demo__drone-yellow" d="M28,36 l20,0 a20,9 0,0,1 40,0 l20,0 l0,8 l-10,0 c-10,0 -15,0 -23,10 l-14,0 c-10,-10 -15,-10 -23,-10 l-10,0z" />
                            <path class="demo__drone-green" d="M16,12 a10,10 0,0,1 20,0 l-10,50z" />
                            <path class="demo__drone-green" d="M100,12 a10,10 0,0,1 20,0 l-10,50z" />
                            <path class="demo__drone-yellow" d="M9,8 l34,0 a8,8 0,0,1 0,16 l-34,0 a8,8 0,0,1 0,-16z" />
                            <path class="demo__drone-yellow" d="M93,8 l34,0 a8,8 0,0,1 0,16 l-34,0 a8,8 0,0,1 0,-16z" />
                          </g>
                          <path class="demo__drone-package demo__drone-green" d="M50,70 l36,0 l-4,45 l-28,0z" />
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="demo__circle">
                    <div class="demo__circle-inner">
                      <svg viewBox="0 0 16 20" class="demo__circle-package">
                        <path d="M0,0 16,0 13,20 3,20z" />
                      </svg>
                      <div class="demo__circle-grabbers"></div>
                    </div>
                    <svg viewBox="0 0 40 40" class="demo__circle-progress">
                      <path class="demo__circle-progress-line" d="M20,0 a20,20 0 0,1 0,40 a20,20 0 0,1 0,-40" />
                      <path class="demo__circle-progress-checkmark" d="M14,19 19,24 29,14" />
                    </svg>
                  </div>
                  <div class="demo__text-fields">
                    <div class="demo__text demo__text--step-0">Start Mission</div>
                    <div class="demo__text demo__text--step-1">
                      Processing
                      <span class="demo__text-dots"><span>.</span></span>
                    </div>
                    <div class="demo__text demo__text--step-2">
                      Sending Waypoints..
                      <span class="demo__text-dots"><span>.</span></span>
                    </div>
                    <div class="demo__text demo__text--step-3">Waypoints Uploded</div>
                    <div class="demo__text demo__text--step-4">Mission Started</div>
                  </div>
                  <div class="demo__revert-line"></div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        <!-- </ion-content> -->

          
          <!-- <a href="https://dribbble.com/shots/7269049-Drone-Delivery-Progressing" target="_blank" class="icon-link">
            <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">
          </a>
          <a href="https://twitter.com/NikolayTalanov/status/1195004656163807232" target="_blank" class="icon-link icon-link--twitter">
            <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">
          </a> -->

      </ion-col>
      <!-- <ion-col size="12" size-md="6" size-lg="4" class="ion-no-padding" *ngFor="let item of data.items">
        <ion-card class="no-box-shadow ion-padding ion-text-center border border-radius"
          (click)="onItemClickFunc(item, $event)">
        
          <img [src]="item.image">
          <h2 class="text-size-lg ion-padding-top ion-no-margin text-color-primary">{{item?.title}}</h2>
          <span class="text-size-xs">{{item?.numberProducts}}</span>
        </ion-card>
      </ion-col> -->
    </ion-row>

  </ion-grid>
</ion-content>
